/*
=====================================================================

*   GidiFest v1.0 Default Stylesheet 
*	Author: Kay 
*	Author Email: investorkay@gmail.com
*	Author URI: www.codeslave.com 
*   Start date: 2020-07-16

 
 __   __   												
|  |_/  /
|      /	
|     /	  __ ____   __
|  '  \	 / _` |	|  | |					
|  |\  \| (_| | |__| |
|__| \__\\__,_|____. | 				
		   		   | |	
	           	   | |
 	     	 |_______|	
                                                                 
=====================================================================*/


*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    /*primary colours*/
    --purple: #1a0a38;
    --blue: #03133a;
    --light-blue: #0046FE;
    --dark-purple : #0D0A11;
    --red : #EE1010;

    --link: #007BFF;
    --link-hover: #D9534F;
  
  
    /*shades of grey*/
    --grey: #F6F6F6;
    --light-grey: #efefef;
    --mid-grey: #f2f2f2;
    --grey-one: #e5e5e5;
    --black: #000;
    --white: #fff;
  
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

  	/*font-size: 62.5%; make rem units base on 10*/

    /*font families*/
    --font-primary: "Quicksand", Tahoma, Calibri, sans-serif;
    --font-secondary: "Rajdhani", Tahoma, Calibri, sans-serif;
    --font-tertiary: "Century Gothic", Tahoma, Calibri, sans-serif;

}

body {
	font-weight: 400;
	min-width: 320px;
	color: #212529;
	text-align: left;
	background-color: #fff;
	font-family: var(--font-primary);
}


/*2. TAGS
==============================================================================================================================================================*/

input {
	background-position: 0% 50%;
	background-repeat: no-repeat;
	padding-left: 15px;
}

input[type="button"] {
	padding-left: 0;
}

input:read:only {
	color: gray;
}

input:out-of-range {
	color: red;
}

input:invalid{
	color: red;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}
h1,h2,h3,h4,h5,h6 {
	font-family: var(--font-tertiary);
}
h2, h3 {
	margin-bottom: 20px;
}
html {
	font-size: 100%;
	scroll-behavior: smooth;
}
address {
	font-family: var(--font-secondary);
}


/*3. LINKS*
==============================================================================================================================================================*/

/*Link styles*/

a {
	color: #34495e;
    transition: 300ms;
}

a:link{
	/*style only unvisited links*/
}

a:hover,
a:focus {
    color: var(--red) !important;
    text-decoration: none;
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
  font-size: .8em;
  opacity: .7;
  font-weight: lighter;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
  font-size: .8em;
  opacity: .7;
  font-weight: lighter;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
  font-size: .8em;
  opacity: .7;
  font-weight: lighter;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
  font-size: .8em;
  opacity: .7;
  font-weight: lighter;
}
a {
	transition: .2s;
}
:not(body) a {
	text-decoration: none;
}
:not(body) ul {
	list-style: none;
} 
img {
	max-width: 100%;
	height: auto;
}
p {
	margin-bottom: 12px;
}
address {
	font-style: normal;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*HEADER*/

.page-header {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 80px;
	background: var(--dark-purple);
}
.inner-header {
	position: relative;
	width: 100%;
	background: url(../img/grid-white.png) no-repeat bottom left;
	background-size: 200px;
}
.inner-header:before {
	position: absolute;
	content: "";
	top: 40px;
	width: 100%;
	height: 148px;
	background-color: var(--light-blue);
}
.hero {
	width: 100%;
	position: relative;
	padding-left: 50px;
	margin: auto;
	background-color: black;
}
.hero:before {
	position: absolute;
	content: "";
	right: 50px;
	height: 100%;
	border: thin solid rgba(250, 250, 250, .1);
	z-index: 5;
}
.hero:after {
	position: absolute;
	content: "";
	bottom: -2px;
	right: 0px;
	width: 60%;
	border: 2px solid var(--red);
}
.main-nav-bar, .main-nav-links, .social-links {
	display: flex;
}
.main-nav-bar {
	justify-content: space-between;
	align-items: center;
	flex: 0 0 100%;
	padding: 5px 10px;
	border-bottom: thin solid rgba(229, 229, 229, .1);
}
.logo-frame {
	font-size: 1.5em;
	color: snow;
}
.main-nav-links {
	justify-content: space-around;
	display: none;
}
.main-nav-links li {
	padding: 0 12.5px;
}
.main-nav-links li a {
	display: block;
	color: white;
	text-transform: uppercase;
}
.social-links li {
	padding: 0 10px;
}
.social-links li a {
	display: block;
	font-size: 1.3em;
	color: var(--link);
}
.fa-search {
	cursor: pointer;
}
.mobile-nav-btn {
	-webkit-appearance: none;
	border: 0;
	padding: 5px 10px;
}
.poster-slider {
	display: flex;
	flex-flow: nowrap;
	overflow: hidden;
}
.poster-slider > .poster {
	flex: 0 0 100%;
	position: relative;
	transform: translateX(0);
	transition: transform .5s ease-in-out;
}
.poster-slider > .poster.slide-right {
	transform: translateX(-100%);
}
.poster-slider > .poster.slide-left {
	transform: translateX(0%);
}
.fa-search {
	color: white;
	font-size: 1.3em !important;
	margin-top: 5px;
}

.poster {
	display: flex;
	width: 100%;
}
.caption {
	flex: 0 0 20%;
	position: relative;
	width: 20%;
	z-index: 1;
	padding-top: 80px;
	text-align: center;
	background: var(--light-blue);
}
.poster-slider > .poster:last-child .caption {
	background: var(--red);
}
.caption span, .caption strong {
	display: block;
}
.caption .artiste-order {
	color: white;
	font-size: 5em;
}
.caption .name {
	position: relative;
	left: 60px;
	color: white;
	font-size: 1.5em;
}	
.caption .name strong {
	position: relative;
	left: 100px;
	font-size: .9em;
	font-weight: lighter;
	opacity: .7;
}
.slider {
	flex: 0 0 80%;
	position: relative;
	background: url(../img/concert-bg-2.jpg) no-repeat;
	background-size: cover;
	background-clip: content-box;
}
.slide-content {
	display: flex;
	justify-content: flex-end;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
	margin-right: -100px;
	background: rgba(0,0,0,.4);
}
.slide-content:before {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	height: 150px;
	border: 2px solid var(--red);
}
.slide-content > figure {
	position: relative;
	padding-top: 50px;
	height: inherit;
	width: 80%;
	height: 380px;
}
.slide-content > figure img:not(.live-stamp) {
	opacity: .5;
	position: absolute;
	bottom: 0;
	transform-origin: bottom;
	/transform: scale(.8);
	width: 100%;
}
.slide-content > figure figcaption {
	position: absolute;
	bottom: 10%;
	right: 10%;
	font-size: 20px;
	color: white;
	text-align: center;
}
.slide-content > figure figcaption .caption-rating {
	position: absolute;
	bottom: 180px;
	font-size: 1.2em;
	opacity: .4;
}
.slide-content > figure figcaption .caption-score {
	position: absolute;
	bottom: 50px;
	right: 300%;
	font-size: 10em;
	transform: rotate(270deg);
	opacity: 0;
	font-family: var(--font-secondary);
}
.slide-content .cta {
	position: absolute;
	top: 20%;
	left: 0;
	min-width: 50%;
}
.cta-btn {
	display: inline-block;
	margin-bottom: 15px;
	padding: 12.5px 15px;
	background-color: rgba(238, 16, 16, .7);
	font-size: 1.3em;
	color: white;
	text-align: center
	font-weight: bolder;
	transition: all .3s;
}
.slide-content .cta-btn:hover, .slide-content .cta-btn:focus {
	color: white !important;
	outline: thin solid white;
}
.booked-tickets-total {
	margin-left: 10px;
	font-size: .9em;
	color: white;
}
.booked-tickets-total .count {
	color: var(--red);
}
.slider-control {
	position: absolute;
	left: 0;
	top: 45%;
	z-index: 3;
	background: var(--light-blue);
	background-size: cover;
	background-position: center;
	display: inline-block;
	border: none;
	width: 50px;
	height: 50px;
	opacity: 1;
	transition: all 0.5s;
	cursor: pointer;
}
.slider-control.left {
	background-image: url("../img/arrow-left.png");
}
.slider-control.right {
	left: auto;
	right: 0;
	background-image: url("../img/arrow-right.png");

}
.live-stamp {
	position: relative;
	top: -40px;
	left: 40px;
	opacity: .2;
	transform: scale(.7) rotate(-30deg);
}

/*Intro*/

 main {
 	padding: 56px 0;
 }
.gidi-intro {
	width: 100%;
	margin: 50px auto 75px;
}
.african-tiled-art, .card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	height: 100%;
}
.african-tiled-art .card-img {
	display: none;
    width: 100%;
    height: 100%
}
.contact-box-overlay {
    padding: 1.25rem;
}
.contact-box {
    display: inline-block;
    max-width: 100%;
    padding: 30px;
    color: var(--light-grey);
    text-align: center;
    background: rgba(26, 10, 56, .8);
}
.contact-box address {
	padding: 5px 0;
	font-size: 1.5em;
	margin-bottom: 10px;
	border-bottom: 2px solid black;
}
.contact-box address {
	line-height: 35px;
}
.headsup {
	padding: 20px;
	margin-top: 25px;
	background: rgba(0,0,0,.6);
}
.headsup h3 {
	margin-top: 10px;
	margin-bottom: 14px;
	text-transform: uppercase;
	font-weight: normal;
}
.headsup h3 b {
	color: var(--red);
	font-weight: bolder;
}
.headsup p {
	font-size: .9em;
	opacity: .7;
	line-height: 30px;
}
.country-flag {
	opacity: .5;
}

/*CONCERT*/

.concert {
	position: relative;
    background-image: url(../img/concert-bg.jpg);
    text-align: center;
    padding: 50px;
}
.concert:before {
	content: "";
	position: absolute;
	width: inherit;
	height: inherit;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
}
.concert-list {
	display: flex;
	flex-wrap: wrap;
}
.concert-list li {
	position: relative;
	flex: 0 0 100%;
	max-width: 100%;
	color: white;
}
.concert-list .featured {
	flex: 0 0 100%;
	max-width: 100%;
}
.concert-list .featured .card {
	height: 435px;
}
.concert-list .card-img {
	width: 100%;
	height: 100%;
}
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.25rem;
}
.card-img-overlay:before {
	position: absolute;
	content: "";
	left: 30px;
	top: 10px;
	width: 60%;
	border: 2px solid rgba(250,250,250,.3);
}

.concert-list .card p {
	position: relative;
	right: 200px;
	font-size: 1.6em;
	font-weight: bolder;
	top: -50px;
	color: var(--purple);
    text-transform: uppercase;
}
.concert-list .card hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
    margin-top: 5px;
    width: 30px;
    border: 1px solid var(--blue);
}
.concert-list .card h2 {
    font-size: 40px;
    max-width: 510px;
    margin: 20px auto;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--dark-purple);
    width: 200px;
    padding: 12px 0;
    color: #ffffff;
    margin-top: 20px;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.concert .video-window {
	width: 100%;
}

.artiste-collection {
	position: relative;
	width: 100%;
	min-height: 450px;
	margin-top: 50px;
	padding: 80px 0px;
}
.artiste-collection:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 250px;
	height: 200px;
	background: black;
	z-index: -1;
}
.artiste-inner {
	background-color: #EBEFF2;
	padding-bottom: 50px;
}
.artiste-collection header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	padding: 20px;
	z-index: 20;
}
.logo-container {
	width: 75px;
	height: 75px;
}
.live .fa-dot-circle-o {
	color : rgba(238, 16, 16, 0.5);
}
.live .text {
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.artistes {
	display: flex;
	width: 100%;
	overflow: hidden;
	padding-top: 105px;
}
.slide-area:nth-of-type(even) .artistes {
	direction: rtl;
	margin-left: auto;
	margin-right: 10%;
}
.progress {
    margin:20px 0;
    padding:0;
    width:200px;
    height:3px;
    overflow:hidden;
    background:#e5e5e5;
    border-radius:6px;
}

.bar {
	position:relative;
    float:left;
    min-width:1%;
    width: 50%;
    height:100%;
    background: var(--red);
}

.percent {
	position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    font-family:tahoma,arial,helvetica;
    font-size:12px;
    color:white;
}
.artiste-controls {
	display: flex;
	align-items: center;
	min-width: 40%;
	padding: 0px 10px 20px;
	margin-top: -1em;
	margin-bottom: 2em;
}
.slide-area:nth-of-type(even) .artiste-controls {
	/*direction: rtl;
	margin-left: auto;*/
	justify-content: flex-end;
}
.artiste-controls .progress {
	margin-right: 50px;
}
.artiste-controls  .slide-counter {
	display: inline-block;
}
.artiste-controls  .slide-counter li {
	display: inline-block;
	margin-right: 15px;
}
.artistes > li {
	flex: 0 0 100%;
	position: relative;
	transform: translateX(0);
	transition: transform .5s ease-in-out;
}
.artistes > li.slide-right {
	transform: translateX(-100%);
}
.artistes > li.slide-left {
	transform: translateX(0%);
}
.slide-area:nth-of-type(even) .artistes > li.slide-right {
	transform: translateX(100%);
}
.slide-area:nth-of-type(even) .artistes > li.slide-left {
	transform: translateX(0%);
}
.artistes > li > ul {
	display: flex;
	width: 100%;
}
.artistes > li > ul > li {
	flex-basis: 33.33%;
	height: 300px;
}
.artistes > li > ul > li figure {
	height: inherit;
	width: inherit;
	border: none;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all .3s ease-out;
}
.artistes > li > ul > li:hover figure {
	transform: rotate(360deg);
	opacity: .7;
	outline: 2px solid black;
}

.profile-link {
	display: block;
	position: relative;
	width: inherit;
	height: inherit;
}
figure.dbanj {
	background-image: url(../img/artistes/dbanj-grad.png);
}
figure.banky {
	background-image: url(../img/artistes/banky-grad.png);
	background-position: -120px center;
}
figure.kizz {
	background-image: url(../img/artistes/kizz-daniel.png);
}

figure.korede {
	background-image: url(../img/artistes/korede-grad.png);
	background-position: center;
}
figure.madrina {
	background-image: url(../img/artistes/cynthia-grad.png);
	background-position: -120px center;
}
figure.olamide {
	background-image: url(../img/artistes/olamide-grad.png);
}

figure.tu-face {
	background-image: url(../img/artistes/2face-grad.png);
	background-position: -120px center;
}
figure.flavour {
	background-image: url(../img/artistes/flavour-grad.png);
}
figure.eva {
	background-image: url(../img/artistes/alordiah-grad.png);
}
figure.ycee {
	background-image: url(../img/artistes/ycee-grad.png);
}
figure.patoranking {
	background-image: url(../img/artistes/patoranking-grad.png);
}
figure.madrina {
	background-image: url(../img/artistes/cynthia-grad.png);
}
figure.runtown {
	background-image: url(../img/artistes/runtown-grad.png);
}
figure.wizkid {
	background-image: url(../img/artistes/wizkid-grad.png);
}
figure.simi {
	background-image: url(../img/artistes/simi-grad.png);
	background-position: -80px center;
}
figure.burna {
	background-image: url(../img/artistes/burna-grad.png);
}
figure.timaya {
	background-image: url(../img/artistes/timaya-grad.png);
}
figure.davido {
	background-image: url(../img/artistes/davido.jpg);
	background-position: -150px center;
}
figure.tiwa {
	background-image: url(../img/artistes/tiwa-savage-grad.png);
	background-position: -60px center;
}





.artistes figcaption {
	position: absolute;
	top: 155px;
	width: 70%;
	margin: 0 auto;
	padding-left: 40px;
	color: white;
}
.slide-area:nth-of-type(even) .artistes figcaption {
	padding-left: 0;
	padding-right: 40px;
}
.artistes figcaption .order {
	display: inline-block;
	padding: 10px;
	background-color: rgba(26, 10, 56,.5);
	border: 1px solid rgba(255,255,255,.3);
	border-radius: 50%;
	margin-bottom: 4px;
}

.artistes figcaption strong {
	font-size: 1.4em;
	font-weight: bolder;
}
.artistes figcaption .label {
	font-size: 0.9em;
	opacity: .5;
}
.slide-counter .current {
	transform: scale(2);
	color: var(--purple);
}

.artiste-inner button {
	position: relative;
	top: auto !important;
	left: auto !important;
	right:  auto !important;
	bottom: 170px !important;
	border: 1px solid rgba(13, 10, 17, 0.1);
	background-color: rgba(255,255,255,.8); 
}
.artiste-inner button.alternate {
	direction: rtl;
	left: 85% !important;
}
.slide-area {
	position: relative;
}
.slide-area .details {
	position: absolute;
	right: 60px;
	bottom: 410px;
	text-align: center;
}
.slide-area:nth-of-type(even) .details {
	right: auto;
	left: 40px;
}
.genre {
	font-size: 1.4em;
	font-weight: bolder;
	text-transform: uppercase;
	text-decoration: underline;
}
.remarks {
	margin-left: 50px;
}
.remarks p {
	font-weight: bold;
}
.remarks p:nth-of-type(2) {
	margin-bottom: 20px;
}
.remarks p:nth-of-type(3) {
	font-size: .9em;
	text-transform: uppercase;
	color: black;
	font-family: var(--font-tertiary);
}

/*FOOTER*/
.page-footer {
	width: 100%;
	background-color: black;
	padding: 50px
}
.page-footer > section {
	width: 80%;
	margin: 20px auto;
	padding: 30px;
	border: 2px solid var(--dark-purple);
}
.page-footer > section > ul, .page-footer .legal {
	display: flex;
	justify-content: space-between;
}
.page-footer .logo {
	width: 100px;
}
.legal > ul > li {
	margin-right: 10px;
}
.legal > ul > li a {
	color: white;
}


/*PROFILE*/

.profile .page-header {
	/background: none;
	padding: 0;
}
.profile .main-nav-bar {
	padding: 5px 70px;
}
.profile .inner-header:before {
	display: none;
}
.profile .hero {
	position: relative;
	padding-left: 0;
	padding-bottom: 40px;
	width: 100%;
	background: url(../img/act-bg.jpg) no-repeat;
}
.profile .hero:before, .profile .hero:after{
	display: none;
}
.profile .hero:after {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(238, 16, 16, 0.31);
	z-index: -1;
}
.profile .main-nav-bar {
	padding: 20px 50px;
	background: rgba(0,0,0,.7);
	margin-bottom: 30px;
}
.star-act {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	padding: 30px;
	background: rgba(255,255,255,.3);
	border: 1px solid white;
}
.bio{
	color: white;
}
.act {
	flex: 1 1 70%;
	padding: 20px;
}
.act-links {
	flex: 1 1 30%;
	padding: 20px;
}
.act-links > ul {
	padding-left: 30px;
	border-left: 2px solid var(--purple);
}
.act-links .fa {
	margin-right: 10px;
}
.act-links > ul > li a {
	display: block;
	padding: 10px 5px;
	color: var(--blue);
	color: black;
	font-weight: bolder;
	font-size: 1.3em;
}
.act > figure {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}
.act > figure .img-holder {
	flex: 1 1 40%;
	border: thin solid rgba(0, 0, 0, 0.25);
}
.act > figure figcaption {
	flex: 1 1 60%;
	padding: 10px 5px 15px 25px;
	color: white;
	opacity: .9;
}
.act > figure figcaption span, .act > figure figcaption b {
	display: block;
}
.act > figure figcaption span, .act > figure figcaption b {
	margin-bottom: 15px;
}
.act .cta-btn {
	background: none;
	border: 3px outset var(--dark-purple);
	text-transform: uppercase;
	width: 308px;
	background: black;
}
.act .cta-btn:hover, .act .cta-btn:focus {
 }

.act > figure figcaption .name {
	font-size: 1.4em;
}
.act > figure figcaption b {
	margin-top: 15px;
	font-size: 1.6em;
}
.act > figure figcaption .performer-rating {
	font-size: .8em;
}

.bio {
	line-height: 23px;
	padding: 20px;
	background: rgba(26, 10, 56, 0.75);
}


/*BIO-EXTRA*/

.bio-extra {
	display: flex;
	width: 80%;
	margin: 0 auto;
	background: rgba(239, 239, 239, .1);
}
.bio-extra > * {
	flex: 0 0 50%;
}
.reviews {
	padding: 25px;
}
.reviews > header {
	position: relative;
	padding-top: 35px;
	margin-bottom: 20px;
}
.reviews h2 {
	font-size: 58px;
	text-transform: uppercase;
	color: var(--dark-purple);
}
.reviews h3 {
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 4px;
	color: var(--red);
	font-size: 14px;
	font-weight: bolder;
	text-transform: uppercase;
}
.avg-rating .rating .fa {
	color: var(--purple);
}
.comment-unit {
	padding: 10px 0;
	border-top: 1px solid var(--red);
}
.comment-heading {
	display: flex;
	flex-flow: wrap;
	padding: 10px 0;
	align-items: center;
}
.comment-heading h4 {
	margin-left: 20px;
	margin-right: auto;
	font-size: .8em;
}
.comment-heading .rating {
	display: inline-block;
	width: 100px;
	height: 20px;
	margin-top: 10px;
	flex-basis: 100%;
	order: 2;
}
.comment-heading .rating span {
	color: gold;
}

/*Act-Photos*/
.act-photos {
	position: relative;
	overflow: hidden;
}
.act-photos figure {
	display: flex;
	flex-flow: column;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.act-photos figure img {
	display: block;
	position: relative;
	height: 400px;
	width: auto;
	max-width: none;
}
.act-photos .cta-btn {
	margin-top: 20px;
	width: 100%;
	padding: 20px;
	border: thin solid var(--red);
	background-color: var(--red);
	text-align: center;
	text-transform: uppercase;
}
.act-photos .cta-btn:hover, .act-photos .cta-btn:focus {
	background-color: transparent;
 }

/*SHOP*/
.ticket-modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	border: 1px solid white;
	background: rgba(0,0,0,.95);
	transform-origin: top right;
	transform: rotate(-90deg);
}
.ticket-modal.swing {
	animation: swingModal .5s ease-in forwards;
}
.ticket {
    display: block;
    padding: 20px;
    width: 60%;
    margin: 20px auto;
    text-align: center;
    border: 1px solid var(--red);
}
.form-group {
	padding: 10px;
}
.form-group label {
	display: block;
	margin-bottom: 1px;
	font-size: 1.1em;
	text-transform: uppercase;
	color: var(--red);
	opacity: .6;
	font-weight: bolder;
	font-family: var(--font-secondary);
}
.ticket-input {
	border: none;
	background: transparent;
	min-width: 350px;
	height: 39px;
	color: white;
	text-align: center;
	font-size: 1.2em;
	font-family: var(--font-secondary);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.ticket-input:hover, .ticket-input:focus {
	border-bottom-color: 1px solid rgba(238, 16, 16, 0.2);
	outline: none;
}
select.ticket-input {
	background: rgba(0,0,0,.5);
	cursor: pointer;
}
option {
	text-align: center;
	cursor: pointer;
}
input[type=submit] {
	display: block;
	white-space: nowrap;
	padding: 25px;
	color: white;
	font-size: 1.2em;
	text-transform: uppercase;
	border: thin solid var(--red);
	background: transparent;
	width: 100%;
	cursor: pointer;
	transition: all .3s;
}
input[type=submit]:hover, input[type=submit]:focus {
 	background-color: white;
 	border: none;
 	color: var(--red);
}
.ticket-close {
	position: absolute;
	font-size: 2em !important;
	right: 50px;
	top: 20px;
	z-index: 100;
	cursor: pointer;
	opacity: .6;
	font-weight: lighter;
	color: white;
}
.ticket-close:hover, .ticket-close:focus {
	color: var(--red)
}

/*ANMIATION*/

@keyframes swingModal {
	0% {

	}
	30% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}