  
@media (min-width: 30rem) {
    
}

@media (min-width: 48rem) {
	.main-nav-links {
		display: flex;
	}    
	.mobile-nav-btn {
		display: none;
	}
	.caption .name {
		font-size: 2.0em;
	}
	.slide-content > figure {
		width: 65%;
	}
	.concert-list li {
		position: relative;
		flex: 0 0 50%;
		max-width: 50%;
		color: white;
	}

	.artiste-collection {
		padding: 80px 50px;
	}

	.page-footer > section > ul, .page-footer .legal {
		flex-direction: row;
	}
}

@media (min-width: 62rem) {

	.caption .name {
		font-size: 2.75em;
	}
	.slide-content > figure {
		width: 50%;
	}
	.slide-content > figure figcaption .caption-score {
		opacity: .3;
	}

	.gidi-intro {
		width: 75%;
		margin: 50px auto 75px;
	}
	.contact-box-overlay {
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}
	.contact-box {
		position: absolute;
		left: 0;
		bottom: 0;
	    display: inline-block;
	    max-width: 582px;
	    padding: 40px 55px 40px 55px;
	    color: var(--light-grey);
	    text-align: center;
	    background: rgba(26, 10, 56, .8);
	}
	.african-tiled-art .card-img {
		display: block;
	}
    
    .concert-list .featured {
    	flex: 0 0 50%;
    	max-width: 50%;
    }
    .concert-list li {
    	position: relative;
    	flex: 0 0 25%;
    	max-width: 25%;
    	color: white;
    }

    .artistes {
    	width: 70%;
    	margin-left: 10%;
    }
    .artiste-inner button {
    	background-color: transparent; 
    }
    .artiste-inner button.alternate {
    	left: 90% !important;
    }
    .artistes {
    	padding-top: 0;
    }
    .slide-area .details {
    	bottom: 290px;
    }
    .artiste-controls {
    	padding: 20px 10px;
    }
}

@media (min-width: 75rem) {
	.hero {
		width: 75%;
	}
    .caption .name {
    	font-size: 3.5em;
    }

}