  
@media (min-width: 30rem) {
    
}

@media (min-width: 48rem) {
	.main-nav-links {
		display: flex;
	}    
	.mobile-nav-btn {
		display: none;
	}
	.caption .name {
		font-size: 2.0em;
	}
	.slide-content > figure {
		width: 65%;
	}
}

@media (min-width: 62rem) {

	.caption .name {
		font-size: 2.75em;
	}
	.slide-content > figure {
		width: 50%;
	}
	.slide-content > figure figcaption .caption-score {
		opacity: .3;
	}

	.gidi-intro {
		width: 75%;
		margin: 50px auto 75px;
	}
	.contact-box-overlay {
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}
	.contact-box {
		position: absolute;
		left: 0;
		bottom: 0;
	    display: inline-block;
	    max-width: 582px;
	    padding: 40px 55px 40px 55px;
	    color: var(--light-grey);
	    text-align: center;
	    background: rgba(26, 10, 56, .8);
	}
	.african-tiled-art .card-img {
		display: block;
	}
    
}

@media (min-width: 75rem) {
	.hero {
		width: 75%;
	}
    .caption .name {
    	font-size: 3.5em;
    }
}